<div id="cart">
  <div class="head-ico">
<svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
  <g clip-path="url(#clip0_25_23679)">
    <mask id="mask0_25_23679" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="1" width="30" height="19">
      <path d="M0 1.09082H29.8519V20H0V1.09082Z" fill="white" />
    </mask>
    <g mask="url(#mask0_25_23679)">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M28.5126 4.3476C28.6537 4.34652 28.7949 4.34544 28.9357 4.34986C29.7217 4.37532 29.995 4.74699 29.7471 5.49569C29.2742 6.91536 28.7951 8.33312 28.3159 9.75088C28.0864 10.4301 27.8568 11.1094 27.6279 11.7888C27.4823 12.2211 27.3369 12.6534 27.1916 13.0857C26.9483 13.8094 26.705 14.5329 26.4604 15.256C26.1757 16.0981 26.078 16.171 25.2029 16.171C21.7618 16.1721 18.321 16.172 14.88 16.1719C13.7324 16.1718 12.5847 16.1718 11.437 16.1718H9.74975C9.80143 16.3824 9.8491 16.5851 9.8953 16.7816C10.0175 17.3011 10.1294 17.777 10.278 18.2412C10.3225 18.3807 10.61 18.5116 10.794 18.5243C11.1855 18.552 11.5787 18.5473 11.9721 18.5427C12.1218 18.5409 12.2715 18.5391 12.4212 18.5391C13.4273 18.5391 14.4333 18.539 15.4393 18.539C18.4589 18.5389 21.4783 18.5387 24.4977 18.5398C25.3587 18.5405 25.7105 18.7642 25.6914 19.2843C25.6731 19.7798 25.3396 19.9786 24.5147 19.9786C19.7884 19.9793 15.0615 19.9786 10.3353 19.9779C9.26971 19.9779 9.20663 19.9206 8.94752 18.9108C7.58872 13.6218 6.22718 8.33365 4.86491 3.0456C4.83833 2.94308 4.80571 2.8425 4.76512 2.71737C4.74516 2.65586 4.72329 2.58842 4.69926 2.51189C3.53158 2.51189 2.40368 2.51189 1.27507 2.51117C1.2292 2.51117 1.18329 2.51156 1.13738 2.51196C0.979249 2.51332 0.821124 2.51468 0.664824 2.49988C0.23991 2.46024 -0.00300039 2.21473 0.00278665 1.79083C0.00842902 1.36331 0.269714 1.10926 0.68884 1.10492C2.22602 1.09089 3.76393 1.09089 5.30169 1.10564C5.73007 1.10926 5.91569 1.41713 6.01335 1.80284C6.1599 2.3817 6.31397 2.95847 6.47346 3.55548C6.54289 3.81539 6.61334 4.07913 6.68464 4.34855H7.49743H28.3254C28.3877 4.34855 28.4502 4.34808 28.5126 4.3476ZM26.6037 10.3465C26.7833 9.81696 26.963 9.28748 27.1415 8.7577C27.3555 8.12211 27.5679 7.48557 27.7863 6.83133C27.8966 6.50059 28.0085 6.16533 28.1229 5.82338H7.05849C7.19439 6.34925 7.32957 6.87307 7.46431 7.39517C8.07287 9.75332 8.67238 12.0764 9.28809 14.3947C9.32426 14.5327 9.56283 14.7053 9.71286 14.7104C10.6129 14.7408 11.5149 14.7351 12.4155 14.7273L24.5854 14.7351C24.9947 14.74 25.1823 14.6 25.3091 14.2121C25.7305 12.9204 26.1671 11.6334 26.6037 10.3465Z" fill="#0D0802" />
    </g>
    <path d="M22.1952 21.4955C20.1603 21.4991 18.49 23.1949 18.5204 25.226C18.5502 27.2487 20.202 28.8559 22.2299 28.8361C24.2635 28.8162 25.8778 27.1814 25.8622 25.1574C25.8467 23.1368 24.1997 21.492 22.1952 21.4955ZM22.1648 27.415C20.9364 27.3973 19.9458 26.3753 19.9634 25.1446C19.9812 23.9026 20.9795 22.935 22.2277 22.9492C23.4691 22.9641 24.4468 23.967 24.4306 25.2076C24.4142 26.4347 23.3889 27.4327 22.1648 27.415Z" fill="#0D0802" />
    <path d="M11.7039 21.4977C9.71792 21.4333 8.0122 23.064 7.9591 25.0781C7.90528 27.1092 9.48485 28.7817 11.5086 28.8348C13.5732 28.8892 15.2563 27.2918 15.2966 25.2394C15.3355 23.2353 13.7296 21.5628 11.7039 21.4977ZM11.5864 27.4144C10.358 27.3916 9.36737 26.3684 9.38575 25.1411C9.40485 23.9076 10.4103 22.9387 11.6593 22.9507C12.8963 22.9627 13.8713 23.967 13.8557 25.214C13.8415 26.4398 12.8127 27.4369 11.5864 27.4144Z" fill="#0D0802" />
  </g>
  <defs>
    <clipPath id="clip0_25_23679">
      <rect width="30" height="30" fill="white" />
    </clipPath>
  </defs>
</svg>
    <span id="cart-total">{{ text_items }}</span>
  </div>
  <div class="head-title hidden">
    {{ text_shopping_cart }}
  </div>
</div>
<div class="container-cart">
  <ul>
    <div class="title-mini-cart">
      {{ text_title_mini_cart }}
      <div class="close-cart">
        <button type="button">
          <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
            <path d="M1.34326 11L6.17164 6.17165M6.17164 6.17165L11 1.34326M6.17164 6.17165L1.34326 1.34326M6.17164 6.17165L11 11" stroke="#8991A3" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </button>
      </div>
    </div>
    {% if products or vouchers %}
      <div class="list-product-cart">
        {% for product in products %}
        <div class="list-item-product">
        <div class="item-product-top">
          <div class="delete-product">
            <button type="button" onclick="cart.remove('{{ product.cart_id }}');" title="{{ button_remove }}">
              <svg width="18" height="20" viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M11 9V15M7 9V15M3 5V17C3 17.5304 3.21071 18.0391 3.58579 18.4142C3.96086 18.7893 4.46957 19 5 19H13C13.5304 19 14.0391 18.7893 14.4142 18.4142C14.7893 18.0391 15 17.5304 15 17V5M1 5H17M4 5L6 1H12L14 5" stroke="#8E9192" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </button>
          </div>
          <div class="image-product-cart">
            <a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" /></a>
          </div>
          <div class="top-product-cart">
            <div class="name-product">
              <a href="{{ product.href }}">{{ product.name }}</a> {% if product.option %}
                {% for option in product.option %} <br />
                  - <small>{{ option.name }} {{ option.value }}</small> {% endfor %}
              {% endif %}
              {% if product.recurring %} <br />
                - <small>{{ text_recurring }} {{ product.recurring }}</small> {% endif %}
            </div>

          </div>
        </div>
        <div class="item-product-bottom">
          <div class="quantity-product">
            <div class="qty-spinedit">
              <button onclick="minusQty(this,'{{ product.product_id }}', '{{ product.cart_id }}')" class="qty-minus">
                <svg width="17" height="1" viewBox="0 0 17 1" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 0.500122L8.5 0.500123L16 0.500123" stroke="#8E9192" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
              </button>
              <input type="text" disabled value="{{ product.quantity }}" size="2" class="quantity" name="quantity_{{ product.product_id }}">
              <button onclick="plusQty(this,'{{ product.product_id }}', '{{ product.cart_id }}')" class="qty-plus">
                <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M8.5 1.00012L8.5 8.50012M8.5 8.50012L8.5 16.0001M8.5 8.50012L1 8.50012M8.5 8.50012L16 8.50012" stroke="#8E9192" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
              </button>
            </div>
          </div>
          <div class="total-product">
            {{ product.total }}
          </div>
        </div>
      </div>
        {% endfor %}
      </div>
      {% if vouchers %}
      <table class="table table-striped">

        {% for voucher in vouchers %}
          <tr>
            <td class="text-center"></td>
            <td class="text-left">{{ voucher.description }}</td>
            <td class="text-right">x&nbsp;1</td>
            <td class="text-right">{{ voucher.amount }}</td>
            <td class="text-center text-danger"><button type="button" onclick="voucher.remove('{{ voucher.key }}');" title="{{ button_remove }}" class="btn btn-danger btn-xs"><i class="fa fa-times"></i></button></td>
          </tr>
        {% endfor %}
      </table>
      {% endif %}
      <div class="cart-totals">
        {% for total in totals %}
          <div class="item-totals {{ total.code }}">
            <div class="name-total">{{ total.title }}</div>
            <div class="value-total">{{ total.text }}</div>
          </div>
        {% endfor %}
      </div>
      <div class="group-cart-button">
        <a href="{{ checkout }}" class="btn-checkout">{{ text_checkout }}</a>
        <button type="button" class="btn-exit hidden"> {{ text_next_buy }}</button>
      </div>
    {% else %}
      <div>
        <p class="text-center">{{ text_empty }}</p>
      </div>
    {% endif %}
  </ul>
  <script>
    function plusQty(q, product_id, key) {
      var input=$(q).parent().find('input[type=text]');
      if (isNaN(input.val())) {
        input.val(1);
      }
      input.val(parseInt(input.val())+1);
      q = input.val();
      update(q, product_id, key)
      input.change();
    }

    function minusQty(q, product_id, key) {
      var input=$(q).parent().find('input[type=text]');
      if (isNaN(input.val())) {
        input.val(1);
      }
      if ($(input).val()>1) {
        $(input).val(parseInt($(input).val())-1);
      }
      q = input.val();
      update(q, product_id, key)
      input.change();
    }

    /*function add(quantity, product_id) {
        $.ajax({
            url: 'index.php?route=checkout/cart/add',
            type: 'post',
            data: 'product_id=' + product_id + '&quantity=' + (typeof(quantity) != 'undefined' ? quantity : 1),
            dataType: 'json',
            success: function(json) {
                console.log(json);
                $('.alert, .text-danger').remove();

                if (json['redirect']) {
                    location = json['redirect'];
                }

                if (json['success']) {
                    // Need to set timeout otherwise it wont update the total
                    setTimeout(function () {
                        $('#cart-total').html('' + json['total'] + '');
                    }, 100);

                    // $('html, body').animate({ scrollTop: 0 }, 'slow');

                    $('.mini-cart .container-cart > ul').load('index.php?route=common/cart/info ul');

                    setTimeout(function () {
                        $('.alert.alert-success').remove();
                    },2000);
                }
            },
            error: function(xhr, ajaxOptions, thrownError) {
                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    }*/

    function update(quantity, product_id,cart_id) {
      $.ajax({
        url: 'index.php?route=common/cart/update',
        type: 'post',
        data: 'cart_id=' + cart_id + '&quantity=' + (typeof(quantity) != 'undefined' ? quantity : 1),
        dataType: 'json',
        success: function(json) {
          console.log(json);
          // Need to set timeout otherwise it wont update the total
          setTimeout(function () {
            $('#cart-total').html('' + json['total'] + '');
          }, 100);

          setTimeout(function () {
            $('.alert.alert-success').remove();
          },500);
          $('.mini-cart .container-cart > ul').load('index.php?route=common/cart/info ul');
        },
        error: function(json) {
          console.log(json);
        }
      });
    }
  </script>
</div>

