<div class="simplecheckout-block" id="simplecheckout_cart"  {{ has_error ? 'data-error="true"' : '' }}>
<!-- {% if display_header %}
    <div class="checkout-heading panel-heading">{{ text_cart }}</div>
{% endif %} -->
<div class="checkout__cart--title">{{ text_cart }}</div>
{% if attention %}
    <div class="alert alert-danger simplecheckout-warning-block">{{ attention }}</div>
{% endif %}
{% if error_warning %}
    <div class="alert alert-danger simplecheckout-warning-block">{{ error_warning }}</div>
{% endif %}
    <div class="simplecheckout-cart-products">
        {% for product in products %}
        <div class="simplecheckout-cart-product">
            <div class="simplecheckout-cart-product-info">
                <div class="simplecheckout-cart-product-image">
                    {% if product['thumb'] %}
                        <a href="{{ product['href'] }}"><img src="{{ product['thumb'] }}" alt="{{ product['name'] }}" title="{{ product['name'] }}" /></a>
                    {% endif %}
                </div>
                <div class="simplecheckout-product-content">
                    <div class="simplecheckout-product-content-top">
                        {% if product['manufacturer'] != '' %}
                        <div class="simplecheckout-product-manufacturer">
                            {{text_manufacturer}}
                            <a href="{{product['manufacturer_href']}}">{{product['manufacturer']}}</a>
                        </div>
                        {% endif %}
                        {% if product['model'] != '' %}
                        <div class="simplecheckout-product-model">
                            {{text_model}}
                            {{product['model']}}
                        </div>
                        {% endif %}
                    </div>
                    <div class="simplecheckout-product-content-middle simplecheckout-cart-product-name">
                        <a href="{{ product['href'] }}">{{ product['name'] }}</a>
                        {% if not product['stock'] and (config_stock_warning or not config_stock_checkout) %}
                            <span class="product-warning">***</span>
                        {% endif %}
                        <div class="options">
                            {% for option in product['option'] %}
                                &nbsp;<small> - {{ option['name'] }}: {{ option['value'] }}</small><br />
                            {% endfor %}
                            {% if product['recurring'] is not empty %}
                                - <small>{{ text_payment_profile }}: {{ product['profile_name'] }}</small>
                            {% endif %}
                        </div>
                        {% if product['reward'] %}
                            <small>{{ product['reward'] }}</small>
                        {% endif %}
                    </div>
                    <div class="simplecheckout-product-content-bottom">
                        <div class="simple-price"><span>{{ product['price'] }}</span></div>
                        <div class="simple-price-total"><span>{{ column_total }}: </span><span>{{ product['total'] }}</span></div>
                    </div>
                </div>
            </div>
            <div class="simplecheckout-cart-product-buttons">
                <div class="simplecheckout-cart-product-buttons-top">
                    <div class="simple-wishlist-wrapper">
                        <button class="simple-wishlist" type="button" onclick="wishlist.add('{{ product['product_id'] }}');">
                            <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M15 5.10355C15 6.18609 14.5843 7.22587 13.8421 7.99503C12.1334 9.7661 10.4762 11.6129 8.70371 13.3198C8.29743 13.7054 7.65294 13.6913 7.26416 13.2883L2.15763 7.99503C0.614123 6.39504 0.614123 3.81206 2.15763 2.2121C3.71631 0.596415 6.25556 0.596415 7.81422 2.2121L7.99986 2.40449L8.18536 2.21221C8.93268 1.43715 9.95048 1 11.0137 1C12.0769 1 13.0947 1.43711 13.8421 2.2121C14.5844 2.98132 15 4.02104 15 5.10355Z" stroke="black" stroke-linejoin="round" />
                              </svg>
                        </button>
                    </div>
                    <div class="simple-remove-wraper simple-remove-mobile">
                        <button class="simple-remove" data-onclick="removeProduct" data-product-key="{{ product.cart_id ? product.cart_id : product.key }}" data-toggle="tooltip" type="button">
                            <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 11L5.82838 6.17165M5.82838 6.17165L10.6567 1.34326M5.82838 6.17165L1 1.34326M5.82838 6.17165L10.6567 11" stroke="black" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="simple-quantity-wraper">
                    <div class="quantity">
                        <button class="simple-quantity" data-onclick="decreaseProductQuantity" data-toggle="tooltip" type="submit">
                            <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect x="0.5" y="0.5" width="29" height="29" rx="10.5" stroke="#EDF1F7"/>
                            <rect x="9" y="14.4375" width="12" height="1.125" rx="0.5625" fill="#8992A3"/>
                            </svg>
                        </button>
                        <input class="simple-quantity-input" type="text" data-onchange="changeProductQuantity" {{ quantity_step_as_minimum ? 'onfocus="$(this).blur()" data-minimum="' ~ product['minimum'] ~ '"' : '' }} name="quantity[{{ product['cart_id'] is not empty ? product['cart_id'] : product['key'] }}]" value="{{ product['quantity'] }}" size="1" />
                        <button class="simple-quantity" data-onclick="increaseProductQuantity" data-toggle="tooltip" type="submit">
                            <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect x="0.5" y="0.5" width="29" height="29" rx="10.5" stroke="#EDF1F7"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M8.89351 14.9999C8.89357 15.3433 9.17189 15.6216 9.51525 15.6217L14.3836 15.6217L14.3836 20.49C14.3895 20.8292 14.6661 21.101 15.0053 21.101C15.3445 21.101 15.6211 20.8292 15.627 20.49V15.6217L20.4954 15.6217C20.8345 15.6158 21.1064 15.3392 21.1064 14.9999C21.1064 14.6607 20.8345 14.3841 20.4954 14.3782L15.627 14.3782L15.627 9.50988C15.6211 9.17072 15.3445 8.89886 15.0053 8.89886C14.6661 8.89886 14.3895 9.17072 14.3836 9.50988L14.3836 14.3782L9.51525 14.3782C9.17189 14.3783 8.89357 14.6566 8.89351 14.9999V14.9999Z" fill="#8992A3"/>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>{% endfor %}

        <div class="simple-vouchers">
            {% for voucher_info in vouchers %}
            <div class="tr">
                <div class="td image"></div>
                <div class="td name">{{ voucher_info['description'] }}</div>
                <div class="td model"></div>
                <div class="td quantity">
                    <div class="input-group btn-block" style="max-width: 200px;">
                        <input class="form-control" type="text" value="1" disabled size="1" />
                        <span class="input-group-btn">
                            <button class="btn btn-danger" data-onclick="removeGift" data-gift-key="{{ voucher_info['key'] }}" type="button">
                                <i class="fa fa-times-circle"></i>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="td price">{{ voucher_info['amount'] }}</div>
                <div class="td total">{{ voucher_info['amount'] }}</div>
                <div class="td remove"></div>
            </div>
            {% endfor %}
        </div>

    </div>

{% for total in totals %}
    <div class="simplecheckout-cart-total" id="total_{{ total['code'] }}">
        <span>{{ total['title'] }}:</span>
        <span class="simplecheckout-cart-total-value">{{ total['text'] }}</span>
        <span class="simplecheckout-cart-total-remove">
            {% if total['code'] == 'coupon' %}
                <i data-onclick="removeCoupon" title="{{ button_remove }}" class="fa fa-times-circle"></i>
            {% endif %}
            {% if total['code'] == 'voucher' %}
                <i data-onclick="removeVoucher" title="{{ button_remove }}" class="fa fa-times-circle"></i>
            {% endif %}
            {% if total['code'] == 'reward' %}
                <i data-onclick="removeReward" title="{{ button_remove }}" class="fa fa-times-circle"></i>
            {% endif %}
        </span>
    </div>
{% endfor %}
{% if modules['coupon'] is defined %}
    <div class="simplecheckout-cart-total">
        <span class="inputs">{{ entry_coupon }}&nbsp;<input class="form-control" type="text" data-onchange="reloadAll" name="coupon" value="{{ coupon }}" /></span>
    </div>
{% endif %}
{% if modules['reward'] is defined and points > 0 %}
    <div class="simplecheckout-cart-total">
        <span class="inputs">{{ entry_reward }}&nbsp;<input class="form-control" type="text" name="reward" data-onchange="reloadAll" value="{{ reward }}" /></span>
    </div>
{% endif %}
{% if modules['voucher'] is defined %}
    <div class="simplecheckout-cart-total">
        <span class="inputs">{{ entry_voucher }}&nbsp;<input class="form-control" type="text" name="voucher" data-onchange="reloadAll" value="{{ voucher }}" /></span>
    </div>
{% endif %}
{% if modules['coupon'] is defined or (modules['reward'] is defined and points > 0) or modules['voucher'] is defined %}
    <div class="simplecheckout-cart-total simplecheckout-cart-buttons">
        <span class="inputs buttons"><a id="simplecheckout_button_cart" data-onclick="reloadAll" class="button btn-primary button_oc btn"><span>{{ button_update }}</span></a></span>
    </div>
{% endif %}
<input type="hidden" name="remove" value="" id="simplecheckout_remove">
<div style="display:none;" id="simplecheckout_cart_total">{{ cart_total }}</div>
{% if display_weight %}
    <div style="display:none;" id="simplecheckout_cart_weight">{{ weight }}</div>
{% endif %}
{% if not display_model %}
    <style>
    .simplecheckout-cart col.model,
    .simplecheckout-cart th.model,
    .simplecheckout-cart td.model {
        display: none;
    }
    </style>
{% endif %}
</div>