<div class="single__product swiper-slide">

        <div class="single__product--wrapper {% if quantity > 0 %}not_enough{% endif %}">
            {{ viewed }}
        <div class="single__product--image">
            {% if label_new %}
                <div class="label_latest">
                    New
                </div>
            {% endif %}
            {% if label_hit %}
                <div class="label_hits">
                    Hit
                </div>
            {% endif %}
            {% if type_stikers %}
                {% if type_stikers == 'special' %}
                    <div class="label_special">
                        Sale
                    </div>
                {% elseif type_stikers == 'latest' %}
                    <div class="label_latest">
                        New
                    </div>
                {% endif %}
            {% endif %}
            {% if stickers %}
                <ul class="stickers_image stickers_image_product" style="position: absolute;top: 10px;left: 10px;z-index: 2;right: unset;">
                    {% for sticker in stickers %}
                        <li><img src="{{ sticker}}" title="{{ heading_title }}" alt="{{ heading_title }}" /></li>
                    {% endfor %}
                </ul>
            {% endif %}
            <a href="{{ href }}">
                {% if lazy_load_status == 1  and not no_lazy %}
                    <img  data-original="{{ thumb }}" alt="{{ name }}" title="{{ name }}" class="img-responsive lazy-load"/>
                {% else %}
                    <img src="{{ thumb }}" alt="{{ name }}" title="{{ name }}" class="img-responsive" />
                {% endif %}
            </a>
            {% if product_wishlist_status == 1 %}
                <button class="single__product--wishlist" data-toggle="tooltip" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product_id }}');">
                    <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.5999 0.106031C10.2079 0.106031 8.87194 0.728382 7.99994 1.71185C7.12794 0.728382 5.79194 0.106031 4.39994 0.106031C1.93594 0.106031 -6.24812e-05 1.9654 -6.24812e-05 4.33187C-6.24812e-05 7.23618 2.71994 9.60265 6.83994 13.1985L7.99994 14.205L9.15994 13.1908C13.2799 9.60265 15.9999 7.23618 15.9999 4.33187C15.9999 1.9654 14.0639 0.106031 11.5999 0.106031ZM8.10083 13.1331L8.02083 13.1916L7.94083 13.1331C1.18294 7.61812 0.820833 6.29184 0.820833 4.07136C0.820833 2.53469 2.39994 0.777933 3.99994 0.777933C6.05116 0.777933 7.04261 1.4987 7.46661 2.55132L8.02083 3.31134L8.53327 2.55132C8.94927 1.4987 10.3679 0.896994 11.5999 0.896994C13.1999 0.896994 15.2208 2.53469 15.2208 4.07136C15.2208 6.29184 14.6875 7.79754 8.10083 13.1331Z" fill="#40AB35" />
                    </svg>
                </button>
            {% endif %}
            {% if product_compare_status == 1 %}
                <button class="single__product--compare" data-toggle="tooltip" title="{{ button_compare }}" onclick="compare.add('{{ product_id }}');">
                    <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15.0145 8.96147C15.0143 8.96038 15.0143 8.9593 15.014 8.95828C15.0138 8.95712 15.0134 8.95597 15.0131 8.95474C15.0098 8.93962 15.0051 8.92493 14.9991 8.91097L12.3337 2.7268C12.3216 2.69881 12.3043 2.67436 12.2836 2.65338C12.2391 2.59363 12.168 2.55471 12.0877 2.55471H8.24993C8.00861 2.55391 8.24472 2.55471 8.24993 2.55471V1.00002C8.24993 0.539005 8.21128 0.25 7.75012 0.25C7.28897 0.25 7.2699 0.539005 7.2699 1.00002L7.30795 2.55471H2.97252C2.96485 2.55471 2.95725 2.55522 2.9498 2.55587C2.94705 2.55565 2.94445 2.555 2.94163 2.55493C2.83992 2.55116 2.74726 2.60954 2.70718 2.70257L0.0418159 8.88667C0.0358118 8.90063 0.0310375 8.91539 0.02771 8.9305C0.0274929 8.93173 0.0270589 8.93289 0.0268419 8.93405C0.0265526 8.93506 0.0265525 8.93615 0.0263355 8.93723C0.0233697 8.95257 0.0218506 8.96798 0.0218506 8.98331C0.0218506 9.67544 0.297097 10.3132 0.79688 10.7792C1.28538 11.2347 1.94235 11.4855 2.647 11.4855C3.35164 11.4855 4.00861 11.2347 4.49711 10.7792C4.99689 10.3133 5.27221 9.67559 5.27221 8.98346L5.27207 8.98136C5.27207 8.97601 5.27163 8.97058 5.27127 8.96516C5.27106 8.96219 5.27091 8.95922 5.27062 8.95626C5.27011 8.95199 5.26932 8.94772 5.2686 8.94345C5.26794 8.9394 5.26729 8.93528 5.2665 8.9313C5.26577 8.92819 5.26491 8.92515 5.26411 8.92211C5.26281 8.91705 5.26151 8.91199 5.25984 8.90707L5.25926 8.9049L3.25012 3.25H7.30795V13.4496H3.14186C2.89417 13.4496 2.69271 13.6597 2.69271 13.9179V14.5297C2.69271 14.7879 2.89417 14.9979 3.14186 14.9979H12.168C12.4157 14.9979 12.6172 14.7879 12.6172 14.5297V13.9179C12.6172 13.6597 12.4157 13.4496 12.168 13.4496H8.24993V3.25H11.7501L9.78169 8.9292L9.78111 8.93123C9.77945 8.93629 9.77807 8.94143 9.7767 8.94664C9.77597 8.9496 9.77511 8.95257 9.77446 8.95553C9.77359 8.95959 9.77294 8.96378 9.77229 8.9679C9.77156 8.97217 9.77084 8.9763 9.77033 8.98049C9.77004 8.98346 9.7699 8.9865 9.76968 8.98946C9.76925 8.99489 9.76889 9.00031 9.76881 9.00566L9.76874 9.00769C9.76874 9.69982 10.044 10.3376 10.5438 10.8036C11.0323 11.259 11.6893 11.5098 12.394 11.5098C13.0985 11.5098 13.7556 11.259 14.2441 10.8036C14.7439 10.3376 15.0191 9.69982 15.0191 9.00769C15.019 8.99235 15.0175 8.97687 15.0145 8.96147ZM2.90445 3.48092L4.68628 8.73881H0.638315L2.90445 3.48092ZM4.16342 10.4215C3.76585 10.7921 3.22729 10.9963 2.647 10.9963C2.0667 10.9963 1.52814 10.7921 1.13057 10.4215C0.790586 10.1045 0.580661 9.68738 0.525685 9.22803H4.76838C4.71333 9.68738 4.5034 10.1045 4.16342 10.4215ZM12.1278 14.5088H3.18208V13.9389H12.1278V14.5088ZM7.30795 13.4496V0.999805C7.30795 0.808543 7.46362 0.652872 7.65495 0.652872C7.84629 0.652872 8.00196 0.808543 8.00196 0.999805V13.4496H7.30795ZM14.4026 8.76311H10.3546L12.1364 3.50523L14.4026 8.76311ZM13.9103 10.4457C13.5127 10.8164 12.9742 11.0205 12.3939 11.0205C11.8136 11.0205 11.275 10.8164 10.8775 10.4457C10.5375 10.1287 10.3276 9.71161 10.2725 9.25234H14.5153C14.4602 9.71168 14.2503 10.1288 13.9103 10.4457Z" fill="#40AB35" />
                        <path d="M7.30795 13.4496V0.999805C7.30795 0.808543 7.46362 0.652872 7.65495 0.652872C7.84629 0.652872 8.00196 0.808543 8.00196 0.999805V13.4496H7.30795Z" fill="#40AB35" />
                    </svg>
                </button>
            {% endif %}
        {% if is_wishlist %}
            <div class="section-wishlist ">
                <a href="{{ remove }}" class="remove-wishlist">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect x="0.5" y="0.5" width="19" height="19" rx="0.5" fill="#40AB35" stroke="#F8F8F8" />
                        <path d="M4 10.5714L8 14L15 6" stroke="white" />
                      </svg>
                </a>
            </div>
        {% endif %}
        </div>
        <div class="single__product--info">
            {% if manufacturer_name != '' %}
                <div class="product-brends">
               <a href="{{ manufacturer_url }}">{{ manufacturer_name }}</a>
                </div>
            {% endif %}
            <div class="single__product--title"><h4><a href="{{ href }}">{{ name }}</a></h4></div>
            <div class="single__product--rating">
            {% if rating %}
                <div class="single__product--rating-wrapper">
                    <div class="rating">
                        {% for i in 1..5 %}
                            {% if rating < i %}
                                <svg width="11" height="11" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M16.7258 24.0713L25.3396 29.2702L23.0537 19.4717L30.664 12.8789L20.6424 12.0287L16.7258 2.78766L12.8092 12.0287L2.78763 12.8789L10.3979 19.4717L8.11201 29.2702L16.7258 24.0713Z" fill="#8E9192" />
                                </svg>
                            {% else %}
                                <svg width="11" height="11" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M16.7258 24.0713L25.3396 29.2702L23.0537 19.4717L30.664 12.8789L20.6424 12.0287L16.7258 2.78766L12.8092 12.0287L2.78763 12.8789L10.3979 19.4717L8.11201 29.2702L16.7258 24.0713Z" fill="#FFAB03" />
                                </svg>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="reviews__count">
                        <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5.92991 1C3.8457 1 1.87728 2.38 1.24044 4.48C0.198332 7.96 2.6878 11.2 5.92991 11.2C6.62465 11.2 7.37728 11.02 8.01412 10.72L10.851 11.2L10.3878 8.26C10.6773 7.6 10.851 6.82 10.851 6.1C10.851 3.28 8.65096 1 5.92991 1Z" stroke="#8E9192" />
                        </svg>
                        <div class="reviews__count--numbers">{{reviews}}</div>
                    </div>
                </div>
            {% endif %}
            {% if product_model_status == 1 %}
                <div class="single__product--model">{{ text_model }} {{ model }}</div>
            {% endif %}
            </div>
            <div class="single__product--buttons">
                {% if stock_status_id == 7 %}
                    {% if price %}
                        <p class="price">
                            {% if not special %}
                                {{ price }}
                            {% else %}
                                <span class="price-old">{{ price }}</span>
                                <span class="price-new">{{ special }}</span>
                            {% endif %}
                            {% if tax %}
                            <span class="price-tax">{{ text_tax }} {{ tax }}</span>
                            {% endif %}
                        </p>
                    {% endif %}
                {% endif %}
            {% if remove %}
            <button type="button" onclick="cart.add('{{ product_id }}', '{{ minimum }}');" class="single__product--add">
                <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_2141_588)">
                    <mask id="mask0_2141_588" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="21" height="14">
                    <path d="M0 0.763596H20.8963V14H0V0.763596Z" fill="white" />
                    </mask>
                    <g mask="url(#mask0_2141_588)">
                    <path d="M20.255 3.04507C20.1128 3.04062 19.9701 3.04416 19.8279 3.04416C14.9682 3.04416 10.108 3.04416 5.24828 3.04416C5.06244 3.04416 4.8765 3.04416 4.67932 3.04416C4.51476 2.42234 4.35667 1.84377 4.20942 1.26216C4.14106 0.992165 4.01112 0.776655 3.71125 0.774124C2.63482 0.763794 1.55829 0.763794 0.482261 0.773617C0.188873 0.776655 0.00597356 0.954491 0.0020239 1.25375C-0.00202703 1.55048 0.168011 1.72234 0.46545 1.75009C0.606625 1.76346 0.749926 1.75799 0.89262 1.75799C1.68265 1.7585 2.47218 1.7585 3.28955 1.7585C3.34059 1.92104 3.37776 2.02505 3.40551 2.1321C4.3591 5.83373 5.31218 9.53547 6.26334 13.2377C6.44472 13.9446 6.48887 13.9847 7.23475 13.9847C10.5431 13.9852 13.8519 13.9857 17.1603 13.9852C17.7378 13.9852 17.9712 13.8461 17.9841 13.4992C17.9975 13.1351 17.7512 12.9785 17.1485 12.978C14.3308 12.977 11.513 12.9775 8.69491 12.9775C8.31473 12.9775 7.93414 12.9939 7.55589 12.9672C7.42707 12.9583 7.22584 12.8666 7.19465 12.769C7.05134 12.3212 6.95675 11.858 6.8249 11.3204C7.25409 11.3204 7.62982 11.3204 8.00594 11.3204C11.2181 11.3204 14.4299 11.3209 17.6421 11.3199C18.2547 11.3199 18.323 11.2689 18.5224 10.6793C18.7959 9.87088 19.067 9.06141 19.3396 8.25233C19.8342 6.78398 20.3334 5.31703 20.8231 3.84716C20.9966 3.32307 20.8053 3.0629 20.255 3.04507ZM18.9991 6.13056C18.5704 7.40275 18.1328 8.67242 17.7164 9.94866C17.6277 10.2202 17.4964 10.3182 17.2099 10.3148C15.2819 10.2915 13.3534 10.2781 11.4253 10.2742C10.5139 10.2721 9.60241 10.3014 8.69096 10.3093C8.06053 10.3148 7.42909 10.3187 6.79907 10.2974C6.69405 10.2939 6.52705 10.1731 6.50173 10.0765C5.97532 8.09435 5.46581 6.10727 4.94101 4.07654C9.85914 4.07654 14.7347 4.07654 19.6861 4.07654C19.4477 4.7894 19.2247 5.46074 18.9991 6.13056Z" fill="#F8F8F8" />
                    </g>
                    <path d="M15.5366 15.0469C14.1122 15.0494 12.943 16.2364 12.9643 17.6582C12.9851 19.0741 14.1414 20.1991 15.5609 20.1853C16.9844 20.1714 18.1144 19.027 18.1035 17.6102C18.0926 16.1958 16.9398 15.0444 15.5366 15.0469ZM15.5153 19.1906C14.6554 19.1781 13.962 18.4627 13.9744 17.6013C13.9868 16.7318 14.6856 16.0545 15.5594 16.0645C16.4283 16.0749 17.1127 16.7769 17.1014 17.6453C17.0899 18.5043 16.3722 19.2029 15.5153 19.1906Z" fill="#F8F8F8" />
                    <path d="M8.1928 15.0484C6.80262 15.0033 5.60861 16.1448 5.57145 17.5547C5.53377 18.9765 6.63947 20.1472 8.05608 20.1843C9.50135 20.2224 10.6795 19.1043 10.7077 17.6676C10.735 16.2647 9.61083 15.094 8.1928 15.0484ZM8.11057 19.19C7.25066 19.1741 6.55724 18.4578 6.5701 17.5987C6.58347 16.7353 7.28732 16.0571 8.16161 16.0655C9.02749 16.0739 9.70997 16.7769 9.69903 17.6498C9.68911 18.5079 8.96896 19.2058 8.11057 19.19Z" fill="#F8F8F8" />
                </g>
                <defs>
                    <clipPath id="clip0_2141_588">
                    <rect width="21" height="21" fill="white" />
                    </clipPath>
                </defs>
                </svg>
            </button>
            {% else %}
                {% if stock_status_id != 8 %}
                <button type="button" onclick="cart.add('{{ product_id }}', '{{ minimum }}');" class="single__product--add">
                    <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_2141_588)">
                            <mask id="mask0_2141_588" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="21" height="14">
                                <path d="M0 0.763596H20.8963V14H0V0.763596Z" fill="white" />
                            </mask>
                            <g mask="url(#mask0_2141_588)">
                                <path d="M20.255 3.04507C20.1128 3.04062 19.9701 3.04416 19.8279 3.04416C14.9682 3.04416 10.108 3.04416 5.24828 3.04416C5.06244 3.04416 4.8765 3.04416 4.67932 3.04416C4.51476 2.42234 4.35667 1.84377 4.20942 1.26216C4.14106 0.992165 4.01112 0.776655 3.71125 0.774124C2.63482 0.763794 1.55829 0.763794 0.482261 0.773617C0.188873 0.776655 0.00597356 0.954491 0.0020239 1.25375C-0.00202703 1.55048 0.168011 1.72234 0.46545 1.75009C0.606625 1.76346 0.749926 1.75799 0.89262 1.75799C1.68265 1.7585 2.47218 1.7585 3.28955 1.7585C3.34059 1.92104 3.37776 2.02505 3.40551 2.1321C4.3591 5.83373 5.31218 9.53547 6.26334 13.2377C6.44472 13.9446 6.48887 13.9847 7.23475 13.9847C10.5431 13.9852 13.8519 13.9857 17.1603 13.9852C17.7378 13.9852 17.9712 13.8461 17.9841 13.4992C17.9975 13.1351 17.7512 12.9785 17.1485 12.978C14.3308 12.977 11.513 12.9775 8.69491 12.9775C8.31473 12.9775 7.93414 12.9939 7.55589 12.9672C7.42707 12.9583 7.22584 12.8666 7.19465 12.769C7.05134 12.3212 6.95675 11.858 6.8249 11.3204C7.25409 11.3204 7.62982 11.3204 8.00594 11.3204C11.2181 11.3204 14.4299 11.3209 17.6421 11.3199C18.2547 11.3199 18.323 11.2689 18.5224 10.6793C18.7959 9.87088 19.067 9.06141 19.3396 8.25233C19.8342 6.78398 20.3334 5.31703 20.8231 3.84716C20.9966 3.32307 20.8053 3.0629 20.255 3.04507ZM18.9991 6.13056C18.5704 7.40275 18.1328 8.67242 17.7164 9.94866C17.6277 10.2202 17.4964 10.3182 17.2099 10.3148C15.2819 10.2915 13.3534 10.2781 11.4253 10.2742C10.5139 10.2721 9.60241 10.3014 8.69096 10.3093C8.06053 10.3148 7.42909 10.3187 6.79907 10.2974C6.69405 10.2939 6.52705 10.1731 6.50173 10.0765C5.97532 8.09435 5.46581 6.10727 4.94101 4.07654C9.85914 4.07654 14.7347 4.07654 19.6861 4.07654C19.4477 4.7894 19.2247 5.46074 18.9991 6.13056Z" fill="#F8F8F8" />
                            </g>
                            <path d="M15.5366 15.0469C14.1122 15.0494 12.943 16.2364 12.9643 17.6582C12.9851 19.0741 14.1414 20.1991 15.5609 20.1853C16.9844 20.1714 18.1144 19.027 18.1035 17.6102C18.0926 16.1958 16.9398 15.0444 15.5366 15.0469ZM15.5153 19.1906C14.6554 19.1781 13.962 18.4627 13.9744 17.6013C13.9868 16.7318 14.6856 16.0545 15.5594 16.0645C16.4283 16.0749 17.1127 16.7769 17.1014 17.6453C17.0899 18.5043 16.3722 19.2029 15.5153 19.1906Z" fill="#F8F8F8" />
                            <path d="M8.1928 15.0484C6.80262 15.0033 5.60861 16.1448 5.57145 17.5547C5.53377 18.9765 6.63947 20.1472 8.05608 20.1843C9.50135 20.2224 10.6795 19.1043 10.7077 17.6676C10.735 16.2647 9.61083 15.094 8.1928 15.0484ZM8.11057 19.19C7.25066 19.1741 6.55724 18.4578 6.5701 17.5987C6.58347 16.7353 7.28732 16.0571 8.16161 16.0655C9.02749 16.0739 9.70997 16.7769 9.69903 17.6498C9.68911 18.5079 8.96896 19.2058 8.11057 19.19Z" fill="#F8F8F8" />
                        </g>
                        <defs>
                            <clipPath id="clip0_2141_588">
                                <rect width="21" height="21" fill="white" />
                            </clipPath>
                        </defs>
                    </svg>
                </button>
                {% endif %}
            {% endif %}

                {%  if stock_status_id == 8 %}
                    <button type="button" onclick="get_popup_order('{{ product_id }}');" class="single__product--order">{{ text_order }}</button>
                {% endif %}

            </div>
            {% if product_stock_status == 1 %}
                <div class="single__product--stock {{ class_stock }}"> {{ stock }}</div>
            {% endif %}
        </div>
    </div>
        {% if attribute_groups %}
            <div class="single__product--attributes">
                    {% for attribute_group in attribute_groups %}
                        <div class="hidden">
                            <strong>{{ attribute_group.name }}</strong>
                        </div>
                        {% for attribute in attribute_group.attribute %}
                            <div class="single__product--attribute">
                                <div class="single__product--attribute-name">{{ attribute.name }}</div>
                                <div class="single__product--attribute-text">{{ attribute.text }}</div>
                            </div>
                        {% endfor %}
                    {% endfor %}
            </div>
        {% endif %}
</div>
