{% if (options) %} 
<div id="kjmodal{{ id }}" data-productid="{{ id }}" data-firstshow="0" class="modal fade series-options-modal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close bs3-close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{ name }}</h4>
                <button type="button" class="btn-close bs5-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6">
                        <img width="300" height="300" class="img-resp kj-product-thumb" src="{{ product_thumb }}" />
                    </div>
                    <div class="col-sm-6">
                        <input type="hidden" name="product_id" value="{{ id }}">
                        {% include config_theme ~ 'kjseries_options.twig' %}
                        
                        {% if quantity <= 0 %} 
                            <div class='alert alert-danger'>
                        {% else %}
                            <div class='alert alert-success'>
                        {% endif %}
                            {{ stock }}
                        </div>

                        {% if echodiscounts %}
                            <ul class="list-group discounts">
                                {% for discount in echodiscounts %}
                                   <li class='list-group-item'><b>{{ discount.quantity }}</b> {{ text_discount }} <b>{{ discount.price }}</b></li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        <ul class="list-group">
                            <li class='list-group-item' style="overflow: hidden;">
                                <p class='price'>
                                    {% if special %}
                                        <span class='price-old'>{{ price }}</span>
                                        <span class='price-new'>{{ special }}</span>
                                    {% else %}
                                        {{ price }}
                                    {% endif %}
                                </p>
                                <input class="form-control" min="{{ qty }}" type="number" name="quantity" value="{{ qty }}"/>
                                <button class="btn btn-success apply-options"><i class='fa fa-shopping-cart'></i> {{ button_cart }}</button>
                            </li>
                        </ul>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
{% endif %}