{{ header }}{{ column_left }}
<div id="content">

    <div class="page-header">
        <div class="container-fluid">
            <div class="row no-gutters">
                <div class="col-xs-8 col-lg-10">
                    <ul class="breadcrumb">
                        {% for breadcrumb in breadcrumbs %}
                            {% if loop.first %}
                                <li><a href="{{ breadcrumb.href }}"><i class="fa fa-fw fa-home" title="{{ breadcrumb.text }}"></i></a> &nbsp;/&nbsp; </li>
                            {% elseif loop.last %}

                            {% elseif loop.revindex == 2 %}
                                <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a> &nbsp;/&nbsp; </li>
                            {% else %}
                                <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a> &nbsp;/&nbsp; </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                    <h1>{{ heading_title }}</h1>
                </div>
                <div class="col-xs-4 col-lg-2">
                    <div class="control-btns text-right mb-3">
                        <button type="submit" form="form-module" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary mb-1">
                            <svg class="show" fill="currentColor" width="18" height="18" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path d="M17 3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V7l-4-4zm2 16H5V5h11.17L19 7.83V19zm-7-7c-1.66 0-3 1.34-3 3s1.34 3 3 3 3-1.34 3-3-1.34-3-3-3zM6 6h9v4H6z"/>
                            </svg>
                        </button>
                        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-danger mb-1">
                            <svg class="show" fill="currentColor" width="18" height="18" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path d="M18.4 10.6C16.55 8.99 14.15 8 11.5 8c-4.65 0-8.58 3.03-9.96 7.22L3.9 16c1.05-3.19 4.05-5.5 7.6-5.5 1.95 0 3.73.72 5.12 1.88L13 16h9V7l-3.6 3.6z"/>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        {% if error_warning %}
            <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title"><svg class="icon-24" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3 17v2h6v-2H3zM3 5v2h10V5H3zm10 16v-2h8v-2h-8v-2h-2v6h2zM7 9v2H3v2h4v2h2V9H7zm14 4v-2H11v2h10zm-6-4h2V7h4V5h-4V3h-2v6z"/>
                    </svg> {{ text_edit }}</h4>
            </div>
            <div class="panel-body">
                <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-module" class="form-horizontal">
                    <div class="form-group {% if error_name %} has-error {% endif %}">
                        <label class="col-md-3 control-label" for="input-name">{{ entry_name }}</label>
                        <div class="col-md-9">
                            <input type="text" name="name" value="{{ name }}" placeholder="{{ entry_name }}" id="input-name" class="form-control" />
                            {% if error_name %}
                                <div class="text-danger">{{ error_name }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <hr>
                    <div class="form-group">
                        <label class="col-md-3 control-label">{{ entry_status }}</label>
                        <div class="col-md-9">
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-default {% if not status %} active {% endif %}">
                                    <input type="radio" name="status" value="0" {% if not status %} checked {% endif %}>
                                    <span class="on-off">{{ text_disabled }}</span>
                                </label>
                                <label class="btn btn-default {% if status %} active {% endif %}">
                                    <input type="radio" name="status" value="1" {% if status %} checked {% endif %}>
                                    <span class="on-off">{{ text_enabled }}</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="form-group">
                        <label class="col-md-3 control-label">{{ entry_title }}</label>
                        <div class="col-md-9">
                            {% for language in languages %}
                                <div class="input-group">
								<span class="input-group-addon">
									<img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" />
								</span>
                                    <input name="title[{{ language.language_id }}]" value="{{ title[language.language_id] }}" class="form-control" />
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <hr>
                    <div class="form-group">
                        <label class="col-md-3 control-label">{{ entry_page_status }}</label>
                        <div class="col-md-9">
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-default {% if not page_status %} active {% endif %}" >
                                    <input type="radio" name="page_status" value="0" {% if not page_status %} checked {% endif %}>
                                    <span class="on-off">{{ text_no }}</span>
                                </label>
                                <label class="btn btn-default {% if page_status %} active {% endif %}">
                                    <input type="radio" name="page_status" value="1" {% if page_status %} checked {% endif %}>
                                    <span class="on-off">{{ text_yes }}</span>
                                </label>
                            </div>

                            <div class="h-row-wrapper form-line">
                                <div id="page_status" class="collapse fade {% if page_status %}in{% endif %}">
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">{{ entry_page_title }}</label>
                                        <div class="col-md-9">
                                            {% for language in languages %}
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" />
                                                    </span>
                                                    <input name="page_title[{{ language.language_id }}]" value="{{ page_title[language.language_id] }}" class="form-control" />
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">{{ entry_page_url }}</label>
                                        <div class="col-md-9">
                                            {% for language in languages %}
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" />
                                                    </span>
                                                    <input name="page_url[{{ language.language_id }}]" value="{{ page_url[language.language_id] }}" class="form-control" />
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <script>
                                    $('[name=page_status]').parent().click(function(e) {
                                        setTimeout( () => {
                                            if ($(this).find('[value=1]').prop('checked')) {
                                                $('#page_status').collapse('show');
                                            } else {
                                                $('#page_status').collapse('hide');
                                            }
                                        }, 100)
                                    })
                                </script>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="form-group">
                        <label class="col-md-3 control-label">{{ entry_module_type }}</label>
                        <div class="col-md-9">
                            <div data-toggle="buttons">
                                <label class="btn btn-default mb-2 {% if module_type == 'featured' %} active {% endif %}">
                                    <input type="radio" name="module_type" value="featured" {% if module_type == 'featured' %} checked {% endif %}>
                                    <span>{{ entry_featured }}</span>
                                </label>
                                <label class="btn btn-default mb-2 {% if module_type == 'latest' %} active {% endif %}">
                                    <input type="radio" name="module_type" value="latest" {% if module_type == 'latest' %} checked {% endif %}>
                                    <span>{{ entry_latest }}</span>
                                </label>
                                <label class="btn btn-default mb-2 {% if module_type == 'special' %} active {% endif %}">
                                    <input type="radio" name="module_type" value="special" {% if module_type == 'special' %} checked {% endif %}>
                                    <span>{{ entry_special }}</span>
                                </label>
                                <label class="btn btn-default mb-2 {% if module_type == 'bestseller' %} active {% endif %}">
                                    <input type="radio" name="module_type" value="bestseller" {% if module_type == 'bestseller' %} checked {% endif %}>
                                    <span>{{ entry_bestseller }}</span>
                                </label>
                                <label class="btn btn-default mb-2 {% if module_type == 'viewed' %} active {% endif %}">
                                    <input type="radio" name="module_type" value="viewed" {% if module_type == 'viewed' %} checked {% endif %}>
                                    <span>{{ entry_viewed }}</span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div id="featured-products" class="collapse fade {% if module_type == 'featured' %}in{% endif %}">
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="input-product"></label>
                            <div class="col-md-9">
                                <input type="text" name="product_name" value="" placeholder="{{ entry_product }}" id="input-product" class="form-control" />
                                <div id="featured-product" class="well well-sm well-autocomplite">
                                    {% for product in products %}
                                        <div id="featured-product{{ product.product_id }}">
                                            <svg class="text-danger" width="14" height="14" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M7 11v2h10v-2H7zm5-9C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z"/></svg>
                                            {{ product.name }}
                                            <hr>
                                            <input type="hidden" name="product[]" value="{{ product.product_id }}" />
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <script>
                            $('[name=module_type]').parent().click(function () {
                                setTimeout( () => {
                                    if ($('[value=featured]').prop('checked')) {
                                        $('#featured-products').collapse('show');
                                    } else {
                                        $('#featured-products').collapse('hide');
                                    }
                                }, 100)
                            })
                        </script>
                    </div>
                    <hr>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="input-limit">{{ entry_limit }}</label>
                        <div class="col-md-9 form-inline">
                            <input type="number" name="limit" value="{{ limit }}" placeholder="{{ entry_limit }}" id="input-limit" class="form-control" />
                        </div>
                    </div>
                    <hr>
                    <div class="form-group {% if error_width or error_height %} has-error {% endif %}">
                        <label class="col-md-3 control-label" for="input-width">{{ entry_img_size }}</label>
                        <div class="col-md-9  form-inline">
                            <input type="number" name="width" value="{{ width }}" placeholder="{{ entry_width }}" id="input-width" class="form-control" /> x
                            <input type="number" name="height" value="{{ height }}" placeholder="{{ entry_height }}" id="input-height" class="form-control" /> px
                            {% if error_width %}
                                <div class="text-danger">{{ error_width }}</div>
                            {% endif %}
                            {% if error_height %}
                                <div class="text-danger">{{ error_height }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <hr>

                    <div class="form-group">
                        <label class="col-md-3 control-label">{{ entry_hide_products }}</label>
                        <div class="col-md-9">
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-default {% if not hide_out_of_stock_products %} active {% endif %}" >
                                    <input type="radio" name="hide_out_of_stock_products" value="0" {% if not hide_out_of_stock_products %} checked {% endif %}>
                                    <span class="on-off">{{ text_no }}</span>
                                </label>
                                <label class="btn btn-default {% if hide_out_of_stock_products %} active {% endif %}">
                                    <input type="radio" name="hide_out_of_stock_products" value="1" {% if hide_out_of_stock_products %} checked {% endif %}>
                                    <span class="on-off">{{ text_yes }}</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="form-group">
                        <label class="col-md-3 control-label">{{ entry_hide_products_noimage }}</label>
                        <div class="col-md-9">
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-default {% if not hide_noimage_products %} active {% endif %}" >
                                    <input type="radio" name="hide_noimage_products" value="0" {% if not hide_noimage_products %} checked {% endif %}>
                                    <span class="on-off">{{ text_no }}</span>
                                </label>
                                <label class="btn btn-default {% if hide_noimage_products %} active {% endif %}">
                                    <input type="radio" name="hide_noimage_products" value="1" {% if hide_noimage_products %} checked {% endif %}>
                                    <span class="on-off">{{ text_yes }}</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="form-group">
                        <label class="col-md-3 control-label">{{ entry_shufle }}</label>
                        <div class="col-md-9">
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-default {% if not shufle_products %} active {% endif %}" >
                                    <input type="radio" name="shufle_products" value="0" {% if not shufle_products %} checked {% endif %}>
                                    <span class="on-off">{{ text_no }}</span>
                                </label>
                                <label class="btn btn-default {% if shufle_products %} active {% endif %}">
                                    <input type="radio" name="shufle_products" value="1" {% if shufle_products %} checked {% endif %}>
                                    <span class="on-off">{{ text_yes }}</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <hr>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $('input[name=\'product_name\']').autocomplete({
        source: function(request, response) {
            $.ajax({
                url: 'index.php?route=catalog/product/autocomplete&user_token={{ user_token }}&filter_name=' +  encodeURIComponent(request),
                dataType: 'json',
                success: function(json) {
                    response($.map(json, function(item) {
                        return {
                            label: item['name'],
                            value: item['product_id']
                        }
                    }));
                }
            });
        },
        select: function(item) {
            $('input[name=\'product_name\']').val('');

            $('#featured-product' + item['value']).remove();

            $('#featured-product').append('<div class="new-item" id="featured-product' + item['value'] + '"><svg class="text-danger" width="14" height="14" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M7 11v2h10v-2H7zm5-9C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z"/></svg> ' + item['label'] + '<hr><input type="hidden" name="product[]" value="' + item['value'] + '" /></div>');

            $('#featured-product:last-child').animate({ scrollTop: $(this).parent().innerHeight() }, 200);
        }
    });

    $('#featured-product').delegate('svg', 'click', function() {
        $(this).parent().remove();
    });
</script>
<style>
    hr{
        margin: 0;
    }
</style>
{{ footer }}
